<html>
    <head>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular.min.js"></script>
    </head>
    <body ng-app="camp">
        <div ng-controller="AvailabilityCtrl" ng-init="loadData()">
            <div ng-repeat="camp in data">
                <h1>{{camp.name}}</h1>
                <table>
                    <thead>
                    <tr>
                        <th>Date</th>
                        <th>Trailer or Tent Sites</th>
                        <th>Tent Only Sites</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="row in camp.availabilityHistory">
                        <td>{{row.date}}</td>
                        <td align="right">{{row.trailerOrTentSitesAvailable}}</td>
                        <td align="right">{{row.tentOnlySitesAvailable}}</td>
                    </tr>
                    </tbody>
                </table>
            </div>

        </div>
        <script src="js/availability.js"></script>
    </body>
</html>